<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Form Edit Produk</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/editproduk"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form Edit Produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-img *ngIf="produks.url" [src]="produks.url"></ion-img>
      <ion-img *ngIf="!produks.url" [src]="defaultImageUrl"></ion-img>
      <ion-button *ngIf="!editing['url']" size="large" fill="clear" slot="end" (click)="bisaDiEdit('url')">
        <ion-icon slot="icon-only" name='pencil'></ion-icon>
      </ion-button>
       <div slot="end" *ngIf="editing['url']">
        <ion-button size="default" fill="clear" color="danger" (click)="batalEdit('url')">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button size="default" fill="clear" color="success" (click)="simpanEdit('url')">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item *ngIf="editing['url']">
      <ion-input label="Masukkan URL Gambar" labelPlacement="stacked" type="url" placeholder="https://..."
        [(ngModel)]="produks.url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nama Produk" labelPlacement="stacked" [(ngModel)]="produks.name"
        [disabled]="!editing['name']"></ion-input>
      <ion-button *ngIf="!editing['name']" size="default" fill="clear" slot="end" (click)="bisaDiEdit('name')">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>

      <div slot="end" *ngIf="editing['name']">
        <ion-button size="default" fill="clear" color="danger" (click)="batalEdit('name')">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button size="default" fill="clear" color="success" (click)="simpanEdit('name')">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-input label="Kategori Produk" labelPlacement="stacked" [(ngModel)]="produks.kategori"
        [disabled]="!editing['kategori']"></ion-input>
      <ion-button *ngIf="!editing['kategori']" size="default" fill="clear" slot="end" (click)="bisaDiEdit('kategori')">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>

      <div slot="end" *ngIf="editing['kategori']">
        <ion-button size="default" fill="clear" color="danger" (click)="batalEdit('kategori')">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button size="default" fill="clear" color="success" (click)="simpanEdit('kategori')">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-textarea label="Deskripsi Produk" labelPlacement="stacked" [(ngModel)]="produks.description"
        [disabled]="!editing['description']" [autoGrow]="true"></ion-textarea>
      <ion-button  *ngIf="!editing['description']" size="default" fill="clear" slot="end" (click)="bisaDiEdit('description')">
        <ion-icon slot="icon-only" name='pencil'></ion-icon>
      </ion-button>
       <div slot="end" *ngIf="editing['description']">
        <ion-button size="default" fill="clear" color="danger" (click)="batalEdit('description')">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button size="default" fill="clear" color="success" (click)="simpanEdit('description')">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="Harga Beli" labelPlacement="stacked" [(ngModel)]="produks.hargabeli" min="0"
        max="100000" step="5000" [disabled]="!editing['hargabeli']"></ion-input>
      <ion-button *ngIf="!editing['hargabeli']" size="default" fill="clear" slot="end" (click)="bisaDiEdit('hargabeli')">
        <ion-icon slot="icon-only" name = 'pencil'></ion-icon>
      </ion-button>
      <div slot="end" *ngIf="editing['hargabeli']">
        <ion-button size="default" fill="clear" color="danger" (click)="batalEdit('hargabeli')">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button size="default" fill="clear" color="success" (click)="simpanEdit('hargabeli')">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-select label="Harga Jual" labelPlacement="stacked" [(ngModel)]="produks.hargajual"
        [disabled]="!editing['hargajual']">
        <ion-select-option *ngFor="let hargaJual of arr_sellPrice" [value]="hargaJual">{{hargaJual}}</ion-select-option>
      </ion-select>
      <ion-button *ngIf="!editing['hargajual']" size="default" fill="clear" slot="end" (click)="bisaDiEdit('hargajual')">
        <ion-icon slot="icon-only" name='pencil'></ion-icon>
      </ion-button>
      <div slot="end" *ngIf="editing['hargajual']">
        <ion-button size="default" fill="clear" color="danger" (click)="batalEdit('hargajual')">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button size="default" fill="clear" color="success" (click)="simpanEdit('hargajual')">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-text [color]="editing['stok'] ? '' : 'medium'">Stok</ion-text>
      <ion-button size="small" (click)="remove()" [disabled]="!editing['stok'] || isStokNegatif">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
      <ion-text [color]="editing['stok'] ? '' : 'medium'">{{produks.stok}}</ion-text>
      <ion-button size="small" (click)="add()" [disabled]="!editing['stok']">
        <ion-icon name="chevron-up-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!editing['stok']" size="default" fill="clear" slot="end" (click)="bisaDiEdit('stok')">
        <ion-icon slot="icon-only" name = 'pencil'></ion-icon>
      </ion-button>
      <div slot="end" *ngIf="editing['stok']">
        <ion-button size="default" fill="clear" color="danger" (click)="batalEdit('stok')">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button size="default" fill="clear" color="success" (click)="simpanEdit('stok')">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>