<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daftar Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produk</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
  <ion-row *ngFor="let produk2 of chunkedProduct; let i = index" >
    <ion-col size="6" *ngFor="let produk of produk2; let i2 = index" >
      <ion-list [routerLink]="['/produkdetail', arrProduk.indexOf(produk)]">
         <ion-item>
           <ion-img class="gambar-produk" *ngIf="produk.url" [src]="produk.url" ></ion-img>
           <ion-img class="gambar-produk" *ngIf="!produk.url" [src]="defaultImageUrl"></ion-img>
         </ion-item>
         <ion-item>
           {{produk.name}}
         </ion-item>
     </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
