.gambar-produk {
  width: 100%;       
  height: 400px;     
  object-fit: cover; 
}

.search-produk {
    width: 70%;
    text-align: left;
}
ion-segment{
  margin-top:10px;
  padding:10px;
}
ion-segment-button {
  --background: #f4f4f4;               
  --background-checked: #eb445a;       
  --color: #666666;                    
  --color-checked: #ffffff;            
  
  border: 1px solid #e0e0e0;          
  border-radius: 8px;                 
  margin: 0 4px;                      
  --indicator-color: transparent;
}

ion-label{
  text-transform: none;
  font-size:15px;
}
