<ion-app>
  <!-- sidebar -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/dashboard" (click)="menuAccordion.value = undefined" routerLinkActive="menu-aktif">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-accordion-group #menuAccordion>
          <ion-accordion value="produk">
            <ion-item slot="header">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              <ion-label>Produk</ion-label>
            </ion-item>

            <div slot="content">
               <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/produk" routerLinkActive="menu-aktif">
                   <ion-icon name="bag" slot="start"></ion-icon>
                  <ion-label>Daftar Produk</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/tambahproduk" routerLinkActive="menu-aktif">
                   <ion-icon name="add-circle" slot="start"></ion-icon>
                  <ion-label>Tambah Produk</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/editproduk" routerLinkActive="menu-aktif">
                   <ion-icon name="create" slot="start"></ion-icon>
                  <ion-label>Edit Produk</ion-label>
                </ion-item>
            </ion-menu-toggle>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-menu-toggle>
          <ion-item routerLink="/keranjang" routerDirection="forward" (click)="menuAccordion.value = undefined" routerLinkActive="menu-aktif">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Keranjang</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/transaksi" (click)="menuAccordion.value = undefined" routerLinkActive="menu-aktif">
            <ion-icon name="bag-check-outline" slot="start"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/riwayattransaksi" (click)="menuAccordion.value = undefined" routerLinkActive="menu-aktif">
            <ion-icon name="receipt-outline" slot="start"></ion-icon>
            <ion-label>Riwayat Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/profile" (click)="menuAccordion.value = undefined" routerLinkActive="menu-aktif">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- bagian bawah (tabs) -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="setting">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-app>