<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/dashboard" routerDirection="root">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-accordion-group>
          <ion-accordion value="produk">
            <!-- header jangan dibungkus menu-toggle -->
            <ion-item slot="header">
              <ion-icon name="cube-outline" slot="start"></ion-icon>
              <ion-label>Produk</ion-label>
            </ion-item>

            <div slot="content">
              <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/tambah-produk" routerDirection="root" lines="none" style="padding-left: 20px;">
                  <ion-label>Tambah Produk</ion-label>
                </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/daftar-produk" routerDirection="root" lines="none" style="padding-left: 20px;">
                  <ion-label>Daftar Produk</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/transaksi" routerDirection="root">
            <ion-icon name="receipt-outline" slot="start"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/profile" routerDirection="root">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>